altgraph==0.17
Babel==2.8.0
certifi==2020.4.5.1
cycler==0.10.0
emoji==0.5.4
future==0.18.3
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.2
pandas==1.0.3
pefile==2019.4.18
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
scipy==1.4.1
seaborn==0.10.0
six==1.14.0
tkcalendar==1.6.1
wincertstore==0.2
xlrd==1.2.0
